<mat-card>
    <mat-card-content>
        <form [formGroup]="form" (keydown.enter)="onSubmit()">
            <mat-form-field>
                <input matInput type="email" placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button type="submit" color="accent" (click)="onSubmit()">Login</button>
        <a mat-raised-button color="accent" routerLink="/auth/registration">Sign Up</a>
        <a mat-raised-button color="accent" routerLink="/auth/forget-password">Forget password</a>
    </mat-card-actions>
</mat-card>